<div class="blog-container">
    <div class="blog" *ngFor="let blog of blogs">
        <h3>Title : {{blog.title}}</h3>
        <div class="blog-footer">
            <span class="author-initial">{{blog.author?.charAt(0)}}</span>
            <div class="post-details">
                <div class="blog-author">by {{blog.author}}</div>
                <div class="blog-date">{{blog.date}}</div>
            </div>
        </div>
        <button class="button" color="primary" mat-button mat-raised-button routerLink="../viewoneblog/{{blog.id}}">ViewBlog</button>
    </div>
</div>